<h1>Editing Game</h1>

<%= render 'form', game: @game %>

<td><%= link_to 'Show', @game, class:"text-light btn btn-lg btn-success" %></td> |
<td><%= link_to 'Back', games_path, class:"text-light btn btn-lg btn-success" %></td>